{{define "body"}}
<link rel="stylesheet" href="/css/create.css" />
<a href="/">戻る</a>
<h2>新規作成</h2>
<a>{{.Message}}</a>
<form action="" method="POST">
  <div>
    <label for="title">タイトル</label>
    <input type="text" name="title" id="title" required />
    <label for="author">作成者</label>
    <input type="text" name="author" id="author" required />
    <label for="body">内容</label>
    <textarea name="body" id="body" required></textarea>
    <button type="submit">作成</button>
  </div>
</form>
{{end}}
